
  /* Page2 */

  #ap2{
    background-color:black;
    color:white;
  }
  
  #about_con1{
    background-color: black;
    /*background-image:url(../img/Back/ab.jpg);
    background-size:cover;*/
  }

  .intro{
    text-align:center;
    position: absolute;
    top:33%;
    width:50%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    color:white;
  }
  .intro_text{
    margin-bottom:40px;
    transform:translateX(50px);
    width: auto;
    opacity: 0;
    transition: transform 2s,opacity 1s;
  }

  .head{
    position: absolute;
    margin: 5px;
    top:10%;
    font-weight: lighter;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 70px;
    color: #4bf7d3;
    z-index: 5;
    overflow: hidden;
    height: 10%;
    width: 100%;
    transition: transform 2s ,opacity 0s;
    opacity: 0;
    transform: translateY(50px);
    text-align: center;
  
  }
  .ah_1{
    width: 100%;
    position: absolute;
    z-index: 5;
    transition: all 0.8s ease-in-out;
  }
  .ah_2{
    width:100%;
    position: absolute;
    opacity:1;
    transition: all 0.8s ease-in-out;
    transform: translateY(100px);
    z-index: 6;
  }

  .final{
    opacity: 1;
    transform:translate(0,0);
  }
  .final_it{
    transform:translate(0,0);
    opacity: 1;
  }

  @media only screen and (max-width: 768px) {

    .intro{
    top: 28%;
    font-size: 17px;
    width:70%;
    }

    .head{
      height:5%;
      font-size:30px;
      transform: translateY(10px);
    }
    .ah_2{
      transform: translateY(30px);
    }
  
  }
  @media only screen and (max-width: 500px) {

    .intro{
    top: 28%;
    font-size: 17px;
    width:70%;
    margin-bottom:50px;
    }

    .head{
      height:5%;
      font-size:25px;
      transform: translateY(10px);
    }
}
