
  /* Page3 */

  #ap3{
    background-color:black;
    color:white;
  }

  #about_con2{
    background-color: black;
    /*background-image:url(../img/Back/ab.jpg);
    background-size:cover;*/
  }

.fb{
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:80%;
    justify-content: center;
    align-items: center;
    height:40%;
    opacity: 0;
    transition: opacity 3s ease-out;
}

.fin_fb{
    opacity: 1;
}

.bl{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#b2{

}
#b3{
  
}
#b4{

}
#b1{

}
.sb{
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 35px;
    color: #4bf7d3;
}
.pb{
    text-align: center;
    transform: translateX(20%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color:white;
    width:70%;
}

@media only screen and (max-width: 768px) {
    
    .fb{
        top:13%;
        width: 100%;
    }
    .b1{
        width:100%;
    }
    .sb{
        font-size: 23px;
    }
    .pb{
        font-size: 16px;
    }
  }

  @media only screen and (max-width: 400px) {

    .fb{
        top:20%;
        width: 100%;
    }
    .b1{
        width:100%;
    }
    .sb{
        font-size: 22px;
    }
    .pb{
        font-size: 12px;
    }
}