.cover{
  z-index: 10;
}

/* Content Block on Page 2 of every section */

.content{
  position: relative;
  top:2%;
  height:96%;
  width:98%;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  overflow: hidden;
}

.c2{
  height:88%;
  top:10%;
  position: absolute;
}

.p3{
  background-color: red;
}


/* Block */

.block{
  position: absolute;
  z-index:10;
  font-family: monospace;
  font-size: 25px;
  top:70%;
  right:30%;
  width:40%;
  height:7%;
  text-align: center;
  color: black;
  background-color: white;
  opacity: 0.5;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover{
  background-color: black;
  color:white;
}

@media only screen and (max-width: 768px) {

  .block{
    width:60%;
    top:68%;
    right:22.5%;
    font-size: 16px;
    font-size: 16px;
  }
}

.q{
  z-index: 5;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 2.5s , opacity 1s;
  transform:translateY(-500px);
  opacity: 0;
}

.move_down{
  opacity:1;
  transform: translateY(0px);
}

@media only screen and (max-width: 1200px) {

  .q{
    display: none;
  }
}
