.cover{
  z-index: 10;
}

/* Content Block on Page 2 of every section */

.content{
  position: relative;
  top:2%;
  height:96%;
  width:98%;
  z-index: 4;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}


/* Block */

.block{
  position: absolute;
  z-index:10;
  font-family: monospace;
  font-size: 25px;
  top:70%;
  right:27.5%;
  width:45%;
  height:7%;
  text-align: center;
  color: black;
  background-color: white;
  opacity: 0.5;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.block:hover{
  background-color: black;
  color:white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .block{
    width:55%;
    top:68%;
    right:22.5%;
    font-size: 16px;
    font-size: 16px;
  }
}
