/* Page1 */

#ep1{
  background-color:  #242f3e ;
}

#qe2{
  position: absolute;
  height: 296.4024px;
  width: 230.5836px;
  background-image: url(../img/quotes/ep_q1.png);
  background-repeat: no-repeat;
  background-size: cover;
  left:7%;
  top:25%;
}


#qe1{
  position: absolute;
  height: 296.4024px;
  width: 230.5836px;
  background-image: url(../img/quotes/ep_q2.png);
  background-repeat: no-repeat;
  background-size: cover;
  right:7%;
  top:25%;
}

/* Page2 */

#ep2{
  background-color: #242f3e ;
}

#events_con1{
  background-image: url(../img/Back/Events_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.ev2_icon{
  z-index: 999;
  position: absolute;
  bottom:7%;
  left:4%;
  opacity: 0;
  -webkit-transform: translate(-400px,0);
  transform: translate(-400px,0);
  transition: all 2s ease;
}

.move_ev2_icon{
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
}



@media only screen and (max-width: 768px) {

  #events_con1{
    background-image: none;
    background-color: aliceblue;
  }
  .ev2_icon{
    bottom:10%;
    left:5%;
  }
  .move_ev2_icon{
    transform: translateX(0px);
  }
}

#chak{
  background-color:#f6d59b;
}
#helix{
  background-color:#ddd;
}

@media only screen and (max-width: 400px) {

  #events_con1{
    background-image: none;
    background-color: aliceblue;
  }
  .ev2_icon{
    left:10%;
  }
  .move_ev2_icon{
    transform: translateX(0px);
  }
}

/* Page3 */

#ep3{
  background-color:#242f3e;
}
#events_con2{
  background-color:#242f3e;
}
#ev_fb{
  height:80%;
  width:100%;
}

#ev_b1{
  width:50%;
}
#ev_b2{
  width:50%;
}
.pb_ev{
  transform: translateX(10%);
  width:80%;
}

.pr_b{
  position: absolute;
  top:50%;
  height:60%;
  width:50%;
}

#pr_b1{
  left:8%;
}
#pr_b2{
  position: absolute;
  left:60%;
}

.ev_white_ol {
  width: 0px;
  height: 70px;
  background-color:#00c29d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 768px) {


  .ev_white_ol {
     height:15%;
    }

  #ev_fb{
    top:20%;
     height:100%;
    flex-direction: column;
  }
  #pr_b1{
    left:8%;
  }
  #pr_b2{
    position: absolute;
    left:60%;
  }

  .pb_ev{
    top:20%;
  }
}