
@media only screen and (max-width: 768px) 
{

    div.SecondDiv
	{
        bottom:-10%;
 
    }
    
}
	div.SecondDiv
	{
		overflow: hidden;
        position: absolute;
        bottom:5%;
        right:20%;
        height:30%;
		width:60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
	}
	img.PicFlip
	{
		height: 100%;
        width: 100%;
        border-radius: 50%;
	}

	p.FlipText
	{   
        top:50%;
		position: absolute;
        width: 80%;
        height: auto;
		/*left:50%;*/
		vertical-align: center;
		font-size: 15px;
        font-family: 'karla', sans-serif;
		text-align: center;
		color:white;
		transform: translate(0%, -50%);
  		-ms-transform: translate(0%, -50%);
		line-height: 15px;
	}

	div.PicFlipContainer1
    {
        margin: 1% 1%;
		transform-style: preserve-3d;
		transition: all 0.7s ease;
		float:left;
		width:200px;
		height:200px;
	}
	div.PicFlipContainer1:hover
	{
		transform:rotateX(180deg);
	}
	div.FlipFront
	{

		position: absolute;
		width:200px;
		height:200px;
		backface-visibility: hidden;
		background-color:aquamarine;
        color:white;
        border-radius: 50%;
	}
	div.FlipBack
	{

		position: relative;
		width:200px;
		height: 200px;
		backface-visibility: hidden;
		transform: rotateX(180deg);
		background-color:#00cc99;
        text-align: center;
        border-radius: 50%;
	}
