/* Page1 */

#tp1{
  background-color:#485f80;
}

/* Page2 */

#tp2{
  background-color: #485f80;
}

/*
#qt1{
  height: 296.4024px;
  width: 230.5836px;
  background-image: url(../img/quotes/tp_q1.png);
  background-repeat: no-repeat;
  background-size: cover;
  top:12%;
  left:12%;
}
*/

/* Page3 */

#tp3{
  height:5%;
  background-color:white;
  margin-top: 2%;
  margin-bottom:2%;
}