.title{
    position:absolute;
    z-index:999;
    top:-14%;
    display:block;
    margin:auto;
    opacity: 0;
  }
  #tm_header_2{
  top:7%;
}

#abt_header2{
  top:5%;
}

#tm_header{
  top:-12%;
}


#ev_header2{
  top:7%;
}

@media only screen and (max-width: 768px) {

  .t2{
    top:1%;
  }
  
  #abt_header2{
    top:1%;
  }
}

@media only screen and (max-width: 500px) {
    
    #abt_header2{
      top:5%;
    }

    .title{
      position:absolute;
      z-index:999;
      top:-17%;
      display:block;
      margin:auto;
      opacity: 0;
    }

    .t2{
      top:3%;
  }
}