.title{
    position:absolute;
    z-index:999;
    top:-12%;
    display:block;
    margin:auto;
    opacity: 0;
  }
.t2{
  top:0%;
}

#abt_header2{
  top:5%;
}

@media only screen and (max-width: 768px) {

  .t2{
    top:-2%;
  }
  
#abt_header2{
  top:-5%;
}
}